* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.dashboard-container {
    display: flex;
}

.header-icon {
    margin-right: .5em;
}

/* side bar css */
.sidebar-container {
    margin-top: 0;
    background-color: #03031e;
    color: #f2f2f2;
    top: 0;
    max-height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 768px) {

        /* Hide text when the screen size is smaller than 768px */
        .sidebar-menu ul li {
            font-size: 0;
            overflow: hidden;
        }
    }
}

.sidebar-container.collapsed {
    width: 70px;
}

.sidebar-header {
    padding: 1em 0 0 1em;
    font-size: 1.5em;
    overflow: hidden !important;
}

.sidebar-menu {
    display: flex;
    margin-bottom: 80px;
}

.sidebar-menu ul {
    justify-content: center;
    padding: 1em;
    list-style: none;
    margin-bottom: 20vh;
    overflow: hidden !important;
}

.sidebar-menu ul li {
    width: 220px;
    padding: .5em;
    margin-top: 1em;
    border-radius: 10px;
    color: #f1f1f1;
}

.icons {
    margin-right: .5em;
    font-size: 20px;
}

.active-menu {
    background-color: #1f1f41;
}

.sidebar-menu ul li:hover {
    background-color: #1f1f41;
    transition: ease-in-out all 0.3s;
}

.sidebar-footer {
    display: flex;
    align-items: center;
    margin-bottom: calc(100%-20vh);
    overflow: hidden !important;
}

.footer-card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #1f1f41;
    margin: 0 1em;
    padding: .5em;
    border-radius: .5em;
    overflow: hidden !important;
}

.footer-card img {
    max-width: 50px;
    height: auto;
    margin: 0 10px;
    border-radius: 50%;
}

.footer-details {
    width: 100%;

}

.footer-details h5 {
    margin: 0;
    font-size: 1em;
    overflow: hidden !important;
}

.footer-details span {
    display: block;
    font-size: .8em;
}

/* main page */
/* hero-banner */
.main-container {
    background-color: rgb(209, 211, 209);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.header-banner, .icon-utils {
    margin: 2em 2em;
    width: 80%;
    max-height: 50px;
    padding: .3em;
    font-size: 1em;
    display: inline-block;
}

.header-banner p {
    color: #454444 !important;
    font-weight: 700;
}

.icon-utils {
    background-color: #fff;
    border-radius: .5em;
    display: inline-block;
    padding-top: .5em;
    width: 30%;
}

.icon-utils .icon {
    margin: 0 .8em;
    font-size: 1em;

}

.icon-utils input[type="text"] {
    border: none;
    display: inline;
}

.cards {
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    margin: 0 3em;
    grid-gap: 3em;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.card {
    background-color: rgb(209, 211, 209);
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
}

.card-icon {
    font-size: 3em;
    width: 20%;
    margin-left: .1em;
}

.card-content {
    width: 70%;
    display: flex;
    margin: 10px;
}

.chart-container {
    max-width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3em;
    padding: 2em 0;
}

.chart-diagram {
    margin: 2em auto;
    width: 100%;
}

.bar-chart {
    width: 60%;
    background-color: #f2f2f2;
}

.bar-chart-content {
    border-radius: 15px;
    padding-left: 2em;
}

.bar-chart-content p {
    padding: 2em 1em 0 0;
}

.pie-chart-content p {
    padding: 2em 0 0 2.3em !important;
}

.pie-chart-content span {
    padding: 2em 0 0 3em !important;
    font-size: .8em;
}

.bar-chart-content span {
    color: #454444;
    font-size: .8em;
}

.pie-chart {
    width: 35%;
    background-color: #f2f2f2;
}

.pie-chart-diagram {
    padding: 2em 5em;
}

@media (max-width: 768px) {
    .sidebar-container {
        max-width: 80px;
        max-height: 100%;
        justify-content: space-between;
    }

    .sidebar-header {
        display: none;
    }

    .sidebar-menu {
        height: 100% !important;
        margin: 3em 0;
    }

    .sidebar-menu ul li {
        height: fit-content;
        margin: 5px 0;
        padding: 8px;
        width: fit-content !important;
    }

    .active-menu {
        width: fit-content;
    }

    .icons {
        font-size: 30px;

    }

    .sidebar-footer {
        width: 100px;
        height: 100px;
        margin: 0;
    }

    .footer-card img {

        border-radius: 50%;
    }

    .footer-details {
        display: none;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        height: fit-content;
        background-color: #f2f2f2;
    }

    .header-banner {
        width: 40%;
        margin-left: 0;
        font-size: 1em;
    }

    .icon-utils {
        width: 60%;
        margin-right: 0;
        font-size: 1em;
        display: inline;
    }

    .icon-utils input {
        width: inherit;
        border: none;
    }

    .cards {
        max-width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 90%);
        margin: 0 3em;
        grid-gap: .5em;
    }

    .card {
        display: flex;
        flex-direction: column !important;
    }

    .chart-container {
        max-width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 90%);
        margin: 1em 1em 0 1em;
        grid-gap: .5em;
        justify-content: center !important;
    }

    .bar-chart, .pie-chart {
        margin: 0;
        width: 100%;
    }

    .chart-diagram {
        width: 300px;
        overflow-x: auto;
    }

}